.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.itemBox{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 2vw;
}

.item{
  margin-top: 2vw;
  width: 15vw;
  height: 15vw;
  border-radius: 2vw;
  margin: auto;
  margin-top: 2vw;
}

.item1{
  background-color: blue;
  margin-right: 1vw;
}

.item2{
  background-color: red;
  margin-left: 1vw;
}

.item3{
  background-color: green;
  margin-right: 1vw;
}

.item4{
  background-color: hotpink;
  margin-left: 1vw;
}
.keyStart{
  text-align: center;
  margin-top: 2vw;
  font-weight: 800;
  text-decoration: underline;
}
.lostGame{
  color: red;
  font-size: 5vw;
  font-weight: 800;
  position: absolute;
  display: none;
}
.startButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}
.startButton{
  width: 9vw;
  height: 4.5vw;
  border-radius: 2vw;
  border: 0.5vw solid black;
  font-weight: 800;
  background-color: green;
  color: white;
}
.startButton:hover{
  background-color: yellowgreen;
}
.item:hover{
  cursor: pointer;
}
.gameResult{
  position: absolute;
  display: flex;
  width: 20vw;
  height: 10vw;
  background-color: tomato;
  border: 0.5vw solid black;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  top: 50%;
  left: 40%;
  font-size: 3vw;
  font-weight: 800;
  display: none;
}
.scoreBoard{
  position: absolute;
  display: flex;
  top: 30%;
  left: 33%;
  font-weight: 800;
  font-size: 3vw;
  color: black;
  background-color: violet;
  padding: 1vw;
  border-radius: 1vw;
  display: none;
}
.currentLevel{
  font-size: 2vw;
  font-weight: 800;
}

