@import url(./common/font.css);
@import url(./common/variables.css);
@import url(./common/commonClasses.css);
@import url(./common/animation/animation.css);
@import url(./components/brandsLove/brandsLove.css);
body{
  margin: 0;
  font-family: Gilroy;
  box-sizing: border-box;
  background-color: var(--bg-black);
  color: var(--white);
}