.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body{
    background-color: white ;
  }
  .bodyContainer{
    padding-top: 72px;
    padding-bottom: 112px;
    background-color: #f0f2f5;
    width: 100%;
  }
  .content{
    width: 980px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .contentLeft{
    width: 396px;
    height: 257.58px;
    padding-right: 32px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 114px;
  
  }
  .f-logo > img{
    height: 106px;
  margin: -35px;
  margin-bottom: 0px;
  }
  .f-quote{
    width: 500px;
    height: 76px;
  }
  .f-quote >h2 {
    font-size: 28px;
    color: #333;
    font-weight: 500;
    width: 500px;
    height: 76px;
  
  }
  
  .contentRight{
    width: 396px;
    height: 496px;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-top: 40px;
  }
  .formBox{
    width: 396px;
    height: 315.34px;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgb(235, 230, 230);
    padding: 10px 0;
  }
  .createPageFont{
    width: 396px;
    height: 18.76px;
  }
  .content >div {
    display: inline-block;
  }
  
  .formBox > input[type=text],
  .formBox > input[type=password]{
  width: 364px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 17px;
  }
  .formBox > input[type=text]:focus,
  .formBox > input[type=password]:focus{
    border: 1px solid #1887f2;
    box-shadow: 0 0 0 2px #e7f3ff;
  }
  
  .loginButton{
    background-color: #1877f2;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      line-height: 48px;
      padding: 0 16px;
      width:364px;
      color: white;
      font-weight: 700;
  }
  .loginButtonContainer{
    padding-top: 6px;
  }
  .forgottenPasswordButton{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    width: 396px;
    height: 18.96px;
    padding: 18px 0;
    padding-bottom: 0;
  }
  
  .forgottenPasswordButton > a{
    cursor: pointer;
    text-decoration: none;
    color: #1877f2;
  }
  
  .forgottenLine {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
  }
  
  .newAccount{
    width: 396px;
    height: 54px;
    padding-top:6px ;
  }
  
  .newAccountButton{
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    color: white;
    height: 48px;
    width: 198px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 14px;
    border: 0 #42b72a;
  }
  .createPageFont{
    width: 396px;
    height: 18.76px;
    padding-top: 12px;
  }
  
  .createPage{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: black;
      text-decoration: none;
  }
  .bodyContainer2{
    width: 980px;
    height: 137.32px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: left;
  }
  
  .languageBar> li{
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
    cursor: pointer;
    color: #737373;
  }
  
  .content2Line{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
    width: 980px;
  }
  
   .contentLeft
   {
     display: inline-block;
   }
   .contentRight
   {
     display: inline-block;
   }
  
   .footer2{
     display: none;
   }
   .mobileContainer{
     display: none;
   }
  
   .Signup_label{
     margin-top: 8px;
     margin-bottom: 1px;
   }
   .Signup_create_email_button{
     margin: auto;
     background-color: #00a400;
     font-size: 18px;
     font-weight: 600;
   }
   .Signup_title{
     font-size: 32px;
     line-height: 38px;
     font-weight: 600;
   }
   .Signup_DOB{
     margin-top: 25px;
     margin-right: 5px;
     font-weight: 500;
   }
   .Signup_DOB_input{
     padding: 2px;
   }
   @media(max-width: 980px)
   {
  
    .bodyContainer{
      background-color: white;
      width: 100%;
      height: 380px;
      padding: 0 0;
    }
    .content{
      width: 393px;
      height: 464.3px;
      display: block;
      padding: 0 0;
      margin: 0 0;
    
    }
    .contentLeft{
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 0 0;
      margin: 0 0;
      height: 39.3px;
    }
    .contentRight{
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 0 0;
      margin: 0 0;
      height: 464.3px;
    }
    .f-quote{
      display: none;
    }
    .f-logo > img{
      border: 0;
      display: inline-block;
      vertical-align: top;
      width: 112px;
    
    }
    .formBox{
      width: 361px;
      height: 94px;
      background-color: white;
      border-radius: 1vw;
      box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgb(235, 230, 230);
     padding: 10px 0;
     margin: auto;
     
    }
    .formBox > input[type=text],
  .formBox > input[type=password]{
  width: 361px;
  height: 42px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f2f5;
  }
  
  .bodyContainer2{
    display: none;
  }
  
  .loginButton{
    background-color: #1877f2;
      border: none;
      border-radius: 6px;
      font-size: 17px;
      line-height: 40px;
      padding: 0 16px;
      width:361px;
      height: 40px;
      color: white;
      font-weight: 700;
  }
  .createPageFont{
    display: none;
  }
  
  .forgottenPasswordButton{
    color: #1877f2;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    width: 396px;
    height: 18.96px;
    padding: 18px 0;
    padding-bottom: 0;
    margin-left: -20px;
  }
  
  .forgottenPasswordButton > a{
    cursor: pointer;
    text-decoration: none;
    color: #216fdb;
    font-size: 14px;
    line-height: 16px;
  }
  
  .newAccount{
    width: 361px;
    height: 60px;
    padding-top:6px ;
  }
  
  .newAccountButton{
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    background-color: #00a400;
    color: white;
    width: 167.63px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    font-size: 14px;
    padding: 14px 14px;
    height: 36px;
    padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      border: 0 #42b72a;
  
  }
  
  .footer2{
    display: block;
  }
  .footer2List{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .languageBar2 > li{
    font-size: 13px;
    color:#576b95;
    list-style-type: none;
    margin-left: -40px;
    padding-top: 1px;
    font-weight: 500;
  }
  
  .languageBar2 > ul{
    list-style-type: none;
    padding: 0 0;
    text-align: center;
    line-height: 16px;
  }
  .info > ul > li > a{
    color:#576b95;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
  }
  
  .info > ul >li{
    list-style-type: none;
    display: inline;
    text-align: center;
  }
  .info > ul{
    margin-left: -40px;
  }
  .info{
    text-align: center;
    text-align: center;
  }
  .copyright{
    color:#53668f;
    font-size: 12px;
    margin-left: 10px;
  }
  .mobileContainer{
    display: block;
    width: 100%;
    height: 48px;
    background-color: #FAFAD2;
    margin-bottom: 5px;
  }
  
  .mobileContainer > span {
    float: left;
    margin-top: 13px;
    font-size: 14px;
    margin-left: 5px;
  }
  .mobileContainer > span > a{
    text-decoration: none;
    color: #1961c5;
  }
  
   }